# Configuration created by Apache Sling JCR Installer
service.ranking=I"5002"
idpHttpRedirect=B"false"
createUser=B"true"
defaultRedirectUrl="/"
userIDAttribute="uid"
assertionConsumerServiceURL=""
defaultGroups=["aem.adobe"]
signatureMethod="http://www.w3.org/2001/04/xmldsig-more#rsa-sha256"
idpCertAlias="authentication-service#1491259911896"
addGroupMemberships=B"true"
path=["/"]
digestMethod="http://www.w3.org/2001/04/xmlenc#sha256"
synchronizeAttributes=["firstname\=profile/givenName","lastname\=profile/familyName","email\=profile/email","about\=profile/aboutMe","gender\=profile/gender","birthday\=profile/birthday"]
clockTolerance=I"60"
groupMembershipAttribute="groupMembership"
idpUrl="https://dev-889377.oktapreview.com/app/adobedev889377_aemassets_1/exk8b5z89kQusmAwN0h7/sso/saml"
serviceProviderEntityId="aem-assets"
logoutUrl="https://dev-889377.oktapreview.com/app/adobedev889377_aemassets_1/exk8b5z89kQusmAwN0h7/slo/saml"
handleLogout=B"true"
spPrivateKeyAlias=""
useEncryption=B"false"
nameIdFormat="urn:ibm:names:ITFIM:5.1:accessmanager"
