# Configuration created by Apache Sling JCR Installer
eventrecorder.eventtypes=["ACCEPTED","ASSET_CREATED","ASSET_MOVED","ASSET_REMOVED","ASSET_EXPIRED","ASSET_EXPIRING","REJECTED","DOWNLOADED","VERSIONED","RESTORED","METADATA_UPDATED","PUBLISHED_EXTERNAL","ORIGINAL_UPDATED","RENDITION_UPDATED","RENDITION_REMOVED","RENDITION_DOWNLOADED","SUBASSET_UPDATED","SUBASSET_REMOVED","ASSET_VIEWED","ASSET_SHARED","ASSET_PUBLISHED","PROJECT_VIEWED","COLLECTION_VIEWED","ADDED_COMMENT"]
event.filter="(!(event.application\=*))"
eventrecorder.blacklist=["admin"]
eventrecorder.enabled=B"true"